---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import Navbar from '../components/Navbar.tsx'
import IconGrid from '../components/IconGrid.tsx'
import FavoritesSidebar from '../components/FavoritesSidebar.tsx'
import PreviewSidebar from '../components/PreviewSidebar.tsx'
---

<BaseLayout>
  <main class="flex min-h-screen">
    <FavoritesSidebar client:load />
    <section class="flex-grow flex flex-col min-w-0">
      <Hero />
      <Navbar client:load />
      <IconGrid client:load />
    </section>
    <PreviewSidebar client:load />
  </main>
</BaseLayout>
